
 	<div class = "profile_image">
		<%= attachment_image_tag user, :profile_image, size: "100x100", class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
	</div>

	<table class="table">
		<tr>
			<th>name</th>
			<th><%= user.name %></th>
		</tr>

		<tr>
			<th>introduction</th>
			<th><%= user.introduction %></th>
		</tr>
	</table>

<% user ||= current_user %>
<table class="table">
  <tr>
    <th>
    <!-- <strong id="following" class="stat"> -->
        <p>following</p>
    <!-- </strong> -->
    </th>
    <th>
    	<a href="<%= following_user_path(user) %>">
        <%= user.following.count %>
    	</a>

    </th>
  </tr>
  <tr>
    <th>
    <!-- <strong id="followers" class="stat"> -->
       <p>followers</p>
    <!-- </strong> -->
    </th>
    <th>
       <a href="<%= followers_user_path(user) %>"><%= user.followers.count %></a>
    </th>
  </tr>
</table>

  <% if user.id == current_user.id %>
      <div class="row">
        <%= link_to '',edit_user_path(user), class:"btn btn-default btn-lg btn-block glyphicon glyphicon-wrench" %>
      </div>
  <% end %>