
<div class="row">
	<div class="col-xs-3">

		<h2>User info</h2>
		<%= render 'users/profile', user: @user%>

		<h2>New book</h2>
		<%= render 'books/newform', book: @book %>

	</div>

	<div class="col-xs-9">
	<% if @book.errors.any? %>
	<ul>
		<% @book.errors.full_messages.each do |message| %>
			<li class = "error_message">error:<%= message %></li>
		<% end %>
    </ul>
	<% end %>
		<h2>Book detail</h2>

		<table class="table">
				<tr>
					<td>
						<%= link_to (@book.user) do %>
						<%= attachment_image_tag(@book.user, :profile_image,size: "50x50", fallback: "no-image-mini.jpg") %><br>
						<%= @book.user.name %>
						<% end %>
					</td>
					<td><%= link_to @book.title, @book %></td>
					<td><%= @book.body %></td>

					<!-- いいねのView -->
					<td  id = "favorite_buttons_<%= @book.id %>">
						<%= render 'favorites/favorite', book: @book %>
					</td>

					<td>コメント数:<%= @book.book_comments.count %></td>


					<% if  @user.id == current_user.id %>
					<td><%= link_to "Edit",edit_book_path(@book), class: "btn-sm btn-success edit_book_#{@book.id}" %></td>
					<td><%= link_to "Destroy",@book, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{@book.id}" %></td>
					<% end %>
				</tr>
			</table>

		<h3 >コメント</h3>
		<%= form_with(model: [@book, @book_comment], remote: true) do |f| %>
			<%= f.text_area :comment, class:"form-group form-control" %>
			<p><%= f.submit "送信", class:"pull-right" %></p>
		<% end %>

	</div>

	<div class="col-xs-9">

		<h3>コメント一覧</h3>
		<div>
			<table id = "book_comment_<%= @book.id %>" class = "table">
				<%= render 'book_comments/book_comment', book: @book, book_comment: @book_comment %>
			</table>
		</div>

	</div>
</div>

